
<footer class="page-footer">
  <div class="footer-wrap">
    <div class="resume-footer">
      <a href="/resume" target="_blank"><h5 class="white-text">View my Resume</h5></a>
      <p>Currently living and working in [City and State].</p>
    </div>
    <div class="social-footer">
      <h5 class="white-text">Let's Talk!</h5>
      <ul class="social_list">
        <li><a href="###"><i class="fa fa-github"></i></a></li>
        <li><a href="###"><i class="fa fa-medium"></i></a></li>
        <li><a href="###"><i class="fa fa-twitter"></i></a></li>
        <li><a href="###"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="###"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
     © 2021 [Name]
  </div>
</footer>