<div class="wrapper">
  <div class="sidebar-wrapper">
      <div class="profile-container">
          <h1 class="name">Your Name</h1>
          <h3 class="tagline">Your Title</h3>
      </div><!--//profile-container-->

      <div class="contact-container container-block">
        <h2 class="container-block-title">Contact</h2>
          <ul class="list-unstyled contact-list">
              <li class="email"><i class="fa fa-envelope"></i><a href="###">email address</a></li>
              <li class="phone"><i class="fa fa-phone"></i><a href="###">phone number</a></li>
              <li class="linkedin"><i class="fa fa-linkedin"></i><a href="###" target="_blank">linkedin/...</a></li>
              <li class="medium"><i class="fa fa-medium"></i><a href="###" target="_blank">medium/...</a></li>
              <li class="github"><i class="fa fa-github"></i><a href="###" target="_blank">github/...</a></li>
              <li class="twitter"><i class="fa fa-twitter"></i><a href="###" target="_blank">@...</a></li>
          </ul>
      </div><!--//contact-container-->
      <div class="education-container container-block">
          <h2 class="container-block-title">Education</h2>
          <div class="item">
              <h4 class="degree">Degree</h4>
              <h5 class="meta">School</h5>
              <div class="time">Years in school</div>
          </div><!--//item-->
      </div><!--//education-container-->

  </div><!--//sidebar-wrapper-->

  <div class="main-wrapper">

      <section class="section summary-section">
          <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
          <hr>
          <div class="summary">
              <p>Add text that summarizes your work experience</p>
          </div><!--//summary-->
      </section><!--//section-->

      <section class="section experiences-section">
          <h2 class="section-title"><i class="fa fa-bar-chart"></i>Data Engineering & Data Science Experience</h2>
          <div class="company"><a class="company-header" href="###" target="_blank">Current Company Name,</a> City, State</div>
          <div class="item">
                <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Current Job Title</h3>
                      <div class="time">XXX - Present</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>
                </ul>
              </div><!--//details-->
              <br>
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Previous Job Title</h3>
                      <div class="time">May 2019 - November 2020</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>                
                </ul>
              </div><!--//details-->
              <br>
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Previous Job Title</h3>
                      <div class="time">April 2018 - May 2019</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>                
                </ul>
              </div><!--//details-->
          </div><!--//item-->
          
          <hr>
          <div class="company"><a class="company-header" href="###" target="_blank">Previous Company Name,</a> City, State</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Previous Job Title</h3>
                      <div class="time">August 2017 - March 2018</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>                
                </ul>
              </div><!--//details-->
              <br>
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Previous Job Title</h3>
                      <div class="time">October 2015 - August 2017</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>                </ul>
              </div><!--//details-->
          </div><!--//item-->
      </section><!--//section-->

      <section class="section projects-section">
          <h2 class="section-title"><i class="fa fa-black-tie"></i>Internships</h2>
          <hr>
          <div class="company"><a class="company-header" href="###" target="_blank">Previous Company Name,</a> City, State</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Data Science Intern</h3>
                      <div class="time">May 2012 - August 2012</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>                     </ul>
              </div><!--//details-->
          </div><!--//item-->
          <hr>
          <div class="company"><a class="company-header" href="###" target="_blank">Company Name,</a> City, State</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Data Science Intern</h3>
                      <div class="time">June 2011 - January 2012</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>                     </ul>
              </div><!--//details-->
          </div><!--//item-->
      </section>


  </div><!--//main-body-->
</div>